/* --- Block Portfolio
-------------------------------------------------------- */
.project-block {
    .wp-block-image {
        overflow: hidden;

        img {
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    .project-title {
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
    }

    &:hover {
        .project-title {
            transform: translateX(8px);
        }
    }
}
